<div ng-controller="LogRegController">
    <div class="small-12 large-6 large-centered medium-8 medium-centered columns">
        <div class="callout" style="margin-top:10px;">
            <h4>Login with</h4>
            <div class="button-group">
                <a class="button" ng-click="googleAuth()" class="success">Google</a>
                <a class="button" ng-click="facebookAuth()">Facebook</a>
            </div>
        </div>
        <hr>
        <form ng-submit="login()">
            <fieldset class="fieldset">
                <legend>or by email</legend>
                <div class="row">
                    <div class="small-6 columns">
                        <label>Email
                            <input type="email" ng-model="formData.email" placeholder="my@email.com" autofocus="">
                        </label>
                    </div>
                    <div class="small-6 columns">
                        <label>Password
                            <input type="password" ng-model="formData.password" placeholder="********">
                        </label>
                    </div>
                </div>
                <input type="submit" class="button"></input>
            </fieldset>
        </form>
    </div>
</div>
